

<head>
	<title>dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dexy Foods</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#">My Account</a></li>
        <li><a href="/signOut">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="text-center">
<h1>Order foods online</h1>
<p>Delivered right to your door step</p>
<p>Check out the foods available</p>
</div>
  <div class="menu">
    <p>Fast food</p>
    <div><img src="/img/fast-food/hamburgger.png"  alt="hambuger" /></div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
    <div><img src="/img/fast-food/hotdog.png" alt="hotdog" /></div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
    <div><img src="/img/fast-food/pizza-featured.png" alt="pizza" /></div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
    <div>ff4</div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
    <div>ff5</div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
    <div>ff6</div><a href="#" class="btn btn-primary btn-sm">Add to cart</a>
  </div>
  <div class="menu">
  <p>Local dish</p>
      <div>ld1</div>
    <div>ld2</div>
    <div>ld3</div>
    <div>ld4</div>
    <div>ld5</div>
    <div>ld6</div>
  </div>
  <div class="menu">
  <p>Continental</>
    <div>ff1</div>
    <div>ff2</div>
    <div>ff3</div>
    <div>ff4</div>
    <div>ff5</div>
    <div>ff6</div>
  </div>
  
<div class="order">
  <h2>Your Order</h2>
  <p>Quantity</p>
  <p>Total price</p>

  </div>
</body>