

<head>
	<title>dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


</head>
<script>
  let disPrice = 0;
  let quantity = 0;
  
const calculateOrder = (g) => {
  
  let amount = $('#amt').val();
  let warn = "";
    disPrice += g;
    quantity += 1;
    if (quantity > 10) {
      warn = "Cart full";

    } ;


    $("#warning").html("")
    $("warniing").html(warn)

    $("#qty").html("");
    $("#qty").html(quantity)

    $("#price").html("");
  $("#price").html((disPrice));
};
  </script>
<body style="background-color: #ffcccc">

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand img-responsive" href="#">Dexy Foods</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <div class="btn-group myAccount">
            <a href="#" class="btn btn-primary ">My Account</a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
         <ul class="dropdown-menu">
             <li><a href="#">Order History</a></li>
         </ul>
      </div>
      </li>
        <li><a href="/signOut" class="btn btn-primary logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center head">
<h1>Order delicious meal online</h1>
<p>Delivered right to your door step</p>
<p>Check out the foods available</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="menu col-md-10 col-sm-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <img src="/img/fast-food/hamburger.jpg"" alt="hambuger">
              <div class="caption">
             <h4>Hamburger with fries</h4>
             <p>Price: <span id="amt">&#8358;1500</span></p>
             <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1500)">Add to cart</a></p></div>
            </div>

            <div class="col-md-3 col-sm-6">
              <img src="/img/fast-food/hotdog.png"" alt="hotdog">
              <div class="caption">
              <h4>Hot-dog</h4>
              <p>Price: <span id="amt">&#8358;1000</span></p>
              <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1000)">Add to cart</a></p></div>
            </div>
            <div class="col-md-3 col-sm-6">
             <img src="/img/fast-food/pizza-featured.png" alt="pizza">
              <div class="caption">
               <h4>Pizza</h4>
              <p>Price: <span id="amt">&#8358;1200</span></p>
              <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1200)">Add to cart</a></p></div>
            </div>
            <div class="col-md-3 col-sm-6">
              <img src="/img/local/semo.jpg" alt="semo">
               <div class="caption">
               <h4>Semovita with Vegetable</h4>
               <p>Price: <span id="amt">&#8358;700</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(700)">Add to cart</a></p></div>
           </div>

            <div class="col-md-3 col-sm-6">
              <img src="/img/local/jollof-rice.jpg" alt="jollof rice">
              <div class="caption">
              <h4>Jollof rice with chicken</h4>
              <p>Price: <span id="amt">&#8358;800</span></p>
              <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(800)">Add to cart</a></p></div>
            </div>
            <div class="col-md-3 col-sm-6">
              <img src="/img/local/pounded_yam.png" alt="pounded-yam">
               <div class="caption">
               <h4>Pounded yam</h4>
               <p>Price: <span id="amt">&#8358;900</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(900)">Add to cart</a></p></div>
           </div>

            <div class="col-md-3 col-sm-6">
              <img src="/img/local/fried-rice-with-chicken.jpg" alt="fried-rice">
               <div class="caption">
               <h4>Fried Rice with Chicken</h4>
               <p>Price: <span id="amt">&#8358;1000</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1000)">Add to cart</a></p></div>
           </div>

           <div class="col-md-3 col-sm-6">
              <img src="/img/local/tuwo_shinkafa.png" alt="tuwo">
               <div class="caption">
               <h4>tuwo-shinkafa</h4>
               <p>Price: <span id="amt">&#8358;700</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(700)">Add to cart</a></p></div>
           </div>

           <div class="col-md-3 col-sm-6">
              <img src="/img/local/fufu.png" alt="fufu">
               <div class="caption">
               <h4>fufu</h4>
               <p>Price: <span id="amt">&#8358;600</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(600)">Add to cart</a></p></div>
           </div>

           <div class="col-md-3 col-sm-6">
              <img src="/img/local/beans.jpg" alt="beans">
               <div class="caption">
               <h4>Beans with stew</h4>
               <p>Price: <span id="amt">&#8358;700</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(700)">Add to cart</a></p></div>
           </div>

           <div class="col-md-3 col-sm-6">
              <img src="/img/continental/colourful-pasta-salad.jpg" alt="Pasta Salad">
               <div class="caption">
               <h4>Colourful Pasta Salad</h4>
               <p>Price: <span id="amt">&#8358;700</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1200)">Add to cart</a></p></div>
           </div>

           <div class="col-md-3 col-sm-6">
              <img src="/img/continental/sweet-potato-pie.jpg" alt="Sweet potato pie">
               <div class="caption">
               <h4>Sweet potato pie</h4>
               <p>Price: <span id="amt">&#8358;900</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(900)">Add to cart</a></p></div>
           </div>
           <div class="col-md-3 col-sm-6">
              <img src="/img/continental/spaghetti_pancetta_mushroom.png" alt="spaghetti">
               <div class="caption">
               <h4>Spaghetti pancetta with mushroom</h4>
               <p>Price: <span id="amt">&#8358;1700</span></p>
                <p><a href="#" class="btn btn-primary btn-sm" role="button" onclick="calculateOrder(1500)">Add to cart</a></p></div>
           </div>
          </div>
        </div>

    <div class="Add to cart col-md-2 col-sm-2">
      <h2>Your Order</h2>
      <h4>Quantity: <span id="qty"></span></h4>
      <h4>Total price: <span id="price"></span></h4>
      <div id="warning" style="color: red"></div>
      <a href="#" class="btn btn-success" onclick="(getOrder())">Checkout</a>
   </div>
  </div>
</div>

  
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    


    
</body>