<head>
      <title>Food delivery service</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/custom.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body style="background-color: #ff9999">
  <nav class="navbar navbar-inverse fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dexy Foods</a>
        </div>
      </div>
    </nav>


<div class="col-md-4"></div>
<div class="sign-up col-md-4">
  <h2 class="text-center">Sign up</h2>
  <form class="form-signin form-horizontal" method = 'post' action = '/register'>
  <div class="form-group">
      <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Full Name" required autofocus>
  </div>
  
  <div class="form-group">
       <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
  </div>
  <div class="form-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>
            
  <button class="btn btn-primary btn-block">Sign Up</button>
            <br>
            <p>Have An Account? <a href="/">Please Login</a></p>
          </form>
</div>
<div class"col-md-4"></div>


      <script type="text/javascript" src="/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
