body {
    
}

.jumbotron {
    background-image: url("/img/IMG_0857.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    margin-top: -20px;
}
.overlay {
    position: absolute;
    background-color: #fff;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

div.overlay hi {
    margin-top: 100px !important;
    color: #660066 !important;
    font-size: 120px !important;
}

nav {
    border: none;
}


h1 {
    color: #e95420 !important;
    font-size: 60px;
}

.navbar {
    height: 90px; 
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 50px !important;
    margin: 15px 0 0 20px;
    color: #e95420 !important;
}

.myAccount, .logout {
    margin: 20px 10px;

}

#myBtn {
    margin-top: 25px;
/*    margin-left: 850px;*/
}

img {
    height: 150px;
    width: 250px;
    margin-top: 30px;
}

.login-img {
    height: 70px !important;
    width: 70px !important;
}

.menu {
    margin-top: 50px;
}
.class {
    float: right;
}


h1.text-center ,p.text-center{
    color: #e95420 !important;
    margin-top: 70px !important;

}

div.sign-up {
    margin-top: 70px;
    background-color:  #5f2142;
    box-shadow: 1px 2px 3px #000;
    border-radius: 3px;
}

.white {
    color: #fff;
}

 div.head p {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.col-md-3 {
    margin-bottom: 20px;
    margin-top: 30px;
}

.social-btn {
  width: 55px !important;
  height: 35px;
  border-radius: 50px !important;
  -webkit-transition:  -webkit-transform 0.5s;
  vertical-align: middle;
}

.social-btn:hover {
  transform: rotateZ(360deg);}

@media (min-width: 320px) and (max-width: 428px) {
    .navbar-brand {
        font-size: 30px !important;
    margin: 18px 0 0 5px; 
    }

    #myBtn {
        margin-left: 30px;
    }
}
/*
@media (min-width: 800px) and (max-width: 320px) {
    #myBtn {
        margin-left: 
    }
}*/

@media (min-width: 230px) {
    .navbar-brand {
    font-size: 25px !important;
    margin: 15px 0 0 5px;}

    #myBtn {
   margin-left: 15px;
   float: right;
}
}
