h1 {
    color: red;
    font-size: 60px;
}

.navbar {
    height: 90px;
}

.btn {
    margin-top: 20px;
}

img {
    height: 120px;
    width: 120px;
}

.menu {
    width: 30%;
    height: auto;
    float: left;
}
.class {
    float: right;
}